@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: white;
  color: black
}

.dark {
  background-color: #1e293b;
  color: white;
}

.dark .card {
  background-color: #0f172a;
  color: white
}

.light .card {
  background-color: #f8fafc;
  color: black;
}

.dark .tag {
  background-color: black;
}

.light .tag {
  background-color: white;
}

.dark .card-title {
  background-color:  #1e293b;
}

.light .card-title {
  background-color: white;
}